body {
  background-color: burlywood;
}
.main-container {
  display: flex;
  justify-content: centers;
}
.card-one {
  background-color: palegoldenrod;
  width: 400px;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  border-radius: 10px;
}
.image-one {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.title {
  font-size: 20px;
  margin-bottom: 10px;
}
.content {
  background-color: lightsteelblue;
  width: 100px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid brown;
  border-radius: 8px;
}
